<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SP IT! - Shop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Fontawsome icons-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- Custom fonts for this template-->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Page styles-->
        <link href="../css/main.css" rel="stylesheet" />
        <link href="../css/shop.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header-->
        <header>
            <div id="promotionalCarousel" class="carousel overflow-hidden slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#promotionalCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#promotionalCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#promotionalCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url('../assets/img/classroom.png');">
                        <div class="container-fluid px-4 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h1 class="text-white">It's Time to Head Back to School</h1>
                                <p class="fs-3 text-white">Recommended products for use at school</p>
                                <button class="btn btn-outline-info mt-4 fs-5">Click to view</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('../assets/img/gaming.png');">
                        <div class="container-fluid px-4 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h1 class="text-white">Get your Game on</h1>
                                <p class="fs-3 text-white">It's time to get good. Gaming setup = skill</p>
                                <button class="btn btn-outline-info mt-4 fs-5">Click to view</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('../assets/img/office.png');">
                        <div class="container-fluid px-4 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h1 class="text-white">Work Better</h1>
                                <p class="fs-3 text-white">Spruce up your workspace to make it more enjoyable</p>
                                <button class="btn btn-outline-info mt-4 fs-5">Click to view</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#promotionalCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#promotionalCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </header>
        <!-- Featured Products Section -->
        <section id="featured">
            <div class="mt-4 mx-auto">
                <div class="py-4">
                    <h2>Featured Items</h2>
                </div>
                <div id="featured-items" class="row row-cols-2 row-cols-xxl-5 g-4"></div>
            </div>
        </section>
        <!-- Categories Section-->
        <section id="categories" class="py-5"></section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SP IT! 2022</p></div>
        </footer>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- Core JS-->
        <script src="../scripts/shop.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
