#product-image img {
	object-fit: cover;
}

.stacked-star {
	display: grid;
}

.stacked-star i {
	grid-area: 1 / 1 / 1 / 1;
}

#recommended img {
	object-fit: cover;
}

/* Star Rating */
.rating {
	position: absolute;
  	left: -9999px;
}

.enabledRating:hover {
	cursor: pointer;
}

.rating:checked + label > i {
 	color: inherit;
}
